<%= stylesheet_link_tag "posts", "data-turbo-track": "reload" %>
<div class="container">
  <h1>ユーザー情報修正</h1>
  <p>ここではユーザー（User）の内容を修正</p>
    <% @user.errors.full_messages.each do |message| %>
      <div class="error-message">
        <%= message %>
      </div>
    <% end %>
  <%= form_tag("/users/#{@user.id}/update", {multipart: true}) do %>
    <p>ユーザー名</p>
    <input class="form" name="name" value="<%= @user.name %>">
    <p>メールアドレス</p>
    <input class="form" name="email" value="<%= @user.email %>">
    <p>画像</p>
    <input class="form" type="file" name="image" value="<%= @user.image_name %>">
    <input type="submit" value="編集">
  <% end %>
</div>
