<div class="container">
  <h1>User#show</h1>
  <p>ここにUserの詳細を表示する</p>
  <div class="posts-content">
    <div class="post-user">
      <img src="<%= "/user_images/#{@user.image_name}"%>">
    </div>
    <div class="user-name">
      <%= @user.name %>
      <p><%= @user.email %></p>
    </div>
  </div>
  <% if @user.id == @current_user.id %>
    <div class="content-list">
      <%= link_to("編集", "/users/#{@user.id}/edit") %>
      <%= link_to("退会", "/users/#{@user.id}/delete") %>
    </div>
  <% end %>

  <ul class="user-tabs">
    <li class="active"><%= link_to("投稿", "/users/#{@user.id}") %></li>
    <li><%= link_to("いいね!", "/users/#{@user.id}/likes") %></li>
  </ul>

  <div class="posts-index">
    <% @user.posts.each do |post|%>
      <div class="post-user">
        <img src="<%= "/user_images/#{post.user.image_name}"%>">
      </div>
      <div class="posts-index-items">
        <p><%= link_to(post.user.name, "/users/#{post.user.id}") %></p>
        <%= link_to(post.content,"/posts/#{post.id}") %>
      </div>
    <% end %>
  </div>

  

</div>
