<!DOCTYPE html>
<html>
  <head>
    <title>TweetApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "home" , "posts" , "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>    
    <header>
      <div class="header-logo">
        <%= link_to("TweetApp","/") %>
      </div>
      <div class="header-list">
        <ul>
          <li>
            <%= link_to("about","/about") %>
          </li>
          <li>
            <%= link_to("投稿一覧","/posts/index") %>
          </li>
          <li>
            <%= link_to("新規投稿","/posts/new") %>
          </li>
        </ul>
      </div>
    </header>

    <% if flash[:notice] %>
      <div class="notice">
        <%= flash[:notice] %>
      </div>
    <% end %>

    <%= yield %>

    <footer>
      <p>- TweetApp -</p>
    </footer>

  </body>
</html>


